body {
    background: #141E30;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #141E30, #243B55);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #141E30, #243B55);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/*For Bootstrap navigation bar customization*/

.navbar-custom {
    background-color: #243B55;
    color: #ffffff;
    border-radius: 0;
    padding-bottom: 10px;
    padding-top: 10px;
}

.navbar-custom .navbar-nav> li> a {
    color: #fff;
}

.navbar-custom .navbar-nav> .active> a,
.navbar-nav> .active> a:hover,
.navbar-nav> .active> a:focus {
    color: #ffffff;
    background-color: transparent;
}

.navbar-custom .navbar-brand {
    color: #eeeeee;
}


/*For card view effect*/

.box {
    width: 80%;
    background: #FFF;
    margin: 10px 10px;
    padding: 5px;
}

.effect {
    box-shadow: 0 10px 6px -6px #777;
}


/*For news element placement*/

.news-title {
    color: #454545;
    font-size: 1.2em;
    font-weight: bold;
}

.news-title a {
    color: #000055;
}

.news-image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%
}

.news-description {
    color: #565656;
    margin-right: 0px;
    padding-right: 0px;
}

.news-meta-details {
    color: #676767;
    font-style: italic;
    font-weight: lighter;
}
